# IntelliJ project files
.idea
*.iml
gen


# Kotlin files
.kotlin


# Gradle project files
.gradle
build
out

# configuration project files
.env

# local SQLite database
data
*.db
*.db-shm
*.db-wal
